.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-control {
    margin-bottom: 5px;
}
.error-message{
    color: red;
    font-size: 12px;
}

.custom-dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link:hover {
    color: #ffdd57 !important;
}

#wrapper {
    height: 100vh;
    display: flex;
}

#page-wrapper {
    margin-left: 250px;
    background-color: #fff;
}

.custom-sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    position: fixed;
}

.custom-sidebar .nav-link {
    color: #ffffff;
    transition: color 0.3s, background-color 0.3s;
}

.custom-sidebar .nav-link:hover {
    color: #f8f9fa;
    background-color: #495057;
}

.custom-sidebar .nav-link.active {
    background-color: #495057;
    font-weight: bold;
}

.custom-sidebar .nav .collapse {
    padding-left: 15px;
}

.custom-sidebar .nav-label {
    font-size: 16px;
}

.navbar.custom-sidebar {
    width: 250px;
}