.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-control {
    margin-bottom: 5px;
}
.error-message{
    color: red;
    font-size: 12px;
}

.custom-dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Thêm hiệu ứng cho hover */
.navbar-nav .nav-link:hover {
    color: #ffdd57 !important;
}